NODE_ENV=development
PORT=8080

CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002

AUTH_SERVICE_URL=http://localhost:6001
PRODUCT_SERVICE_URL=http://localhost:6002
COUPON_SERVICE_URL=http://localhost:6004
ORDER_SERVICE_URL=http://localhost:6005
PAYMENT_SERVICE_URL=http://localhost:6006
ADMIN_SERVICE_URL=http://localhost:6007
